--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
triton==2.2.0
transformers==4.38.2
xformers==0.0.24
numpy==1.24.4
timm==0.4.12
einops
yacs
termcolor
fvcore
iopath
chardet
packaging
ninja
tqdm
scipy
pillow
matplotlib
opencv-python-headless
scikit-image
PyYAML

https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.2cxx11abiFALSE-cp310-cp310-linux_x86_64.whl